<footer class="text-center w-100 mt-auto fixed-bottom" style="background-color: #190400; color: white; padding: 10px;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" 
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous">
    </script>
    <p style = "font-family: 'DynaPuff', cursive;">
        &copy; 2025 : CU Boulder : ATLS 4214
    </p>
</footer>
