
<body>
    
    <div style="position: fixed; top: 0px; left: 0; width: 100%; height: 100%;
        background-color: #ffefda; z-index: -3;">
    </div>

            <!-- Corner Images -->
    <img src="/images/SSmoon.png" style="position: fixed; top: 0; left: 0; width: 25%; height: 25%; z-index: -2;">
    <img src="/images/SSleafblob.png" style="position: fixed; top: 0; right: 0; width: 25%; height: 25%; z-index: -2;">
    <img src="/images/SSstarblob.png" style="position: fixed; bottom: 0; left: 0; width: 25%; height: 25%; z-index: -2;">
    <img src="/images/SSmoon.png" style="position: fixed; bottom: 0; right: 0; width: 25%; height: 25%; z-index: -2; transform: rotate(180deg);">
    <!-- Page content container -->
    
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; height: 100%; font-size: 100%; font-family: 'DynaPuff', cursive; padding-top: 40px;">
        
        <!-- Page Title -->
        <h1 style="color: #190400; text-shadow: 2px 2px 0px #000005; font-size: 3.5em; margin-bottom: 40px;">Group Members</h1>

        <!-- People List (5 rows of images and descriptions) -->
        <div style="width: 80%; max-width: 900px;  color: #190400;">

            <!-- Row 1 -->
            <div style="display: flex; margin-bottom: 30px;">
                <img src="/images/Adarsh.jpeg" alt="Person 1" style="width: 150px; height: 150px; border-radius: 50%; margin-right: 20px;">
                <div style="flex: 1;">
                    <h3>Adarsh Mahor</h3>
                    <p>Person 1's description.</p>
                </div>
            </div>

            <!-- Row 2 -->
            <div style="display: flex; margin-bottom: 30px;">
                <img src="/images/Kanishka.jpeg" alt="Person 2" style="width: 150px; height: 150px; border-radius: 50%; margin-right: 20px;">
                <div style="flex: 1;">
                    <h3>Kanishka Ghodke</h3>
                    <p>Person 2's description </p>
                </div>
            </div>

            <!-- Row 3 -->
            <div style="display: flex; margin-bottom: 30px;">
                <img src="/images/Kalp.png" alt="Person 3" style="width: 150px; height: 150px; border-radius: 50%; margin-right: 20px;">
                <div style="flex: 1;">
                    <h3>Kalp Mepani</h3>
                    <p>Person 3's description</p>
                </div>
            </div>

            <!-- Row 4 -->
            <div style="display: flex; margin-bottom: 30px;">
                <img src="/images/Juily.png" alt="Person 4" style="width: 150px; height: 150px; border-radius: 50%; margin-right: 20px;">
                <div style="flex: 1;">
                    <h3>Juily pachundkar</h3>
                    <p>Person 4's description</p>
                </div>
            </div>

            <!-- Row 5 -->
            <div style="display: flex; margin-bottom: 30px;">
                <img src="/images/Marcus.png" alt="Person 5" style="width: 150px; height: 150px; border-radius: 50%; margin-right: 20px;">
                <div style="flex: 1;">
                    <h3>Marcus DeLuca</h3>
                    <p>Front end</p>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
